*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/androidTest/
/.idea/
/gradle/
/gradle.properties
/gradlew
/gradlew.bat
/app/src/test/
/.idea/vcs.xml
/app/build/
